<header class="page-header">
            <h1 class="site-title">

                Cronica Documentation

            </h1>
            <p class="back-to-main"><a href="http://cronica.io">Back to main website</a></p>

            <nav>


<ul class="nav">

    <li class="nav__item">

      <a href="#001">Cronica Infrastructure with vpn</a>


</ul>

<ul class="nav">

		<li class="nav__item">

				<a href="#002">How to add A JasperSoft Template</a>

</ul>


<ul class="nav">

		<li class="nav__item">

				<a href="#003">How to Create a Structured Document</a>


</ul>


<ul class="nav">

		<li class="nav__item">

				<a href="#004">How to Create a Template with Template Constructor</a>


</ul>

<ul class="nav">

		<li class="nav__item">

				<a href="#005">How to Create Generic Document</a>


</ul>

<ul class="nav">

		<li class="nav__item">

				<a href="#006">How To Create HTML based template</a>


</ul>

<ul class="nav">

		<li class="nav__item">

				<a href="#007">How to create Quorum Network and Add New Node</a>


</ul>

<ul class="nav">

		<li class="nav__item">

				<a href="#008">How to Search for a Document on Issuer Site</a>


</ul>
			</nav>

        </header>
